<%= render "shared/header" %>
<div class="main">
  <div class="thx_contents">
    <h1 class="thx_mes">支援感謝です!!</h1>
    <%=link_to "ホームに戻る", root_path,id:"thx_back" %>
  </div>
</div>
<%= render "shared/footer" %>