<div class="header">
  <div class="title">
    <a href="#" class="title-content">DREAM</a>
  </div>
  <div class="user-function">
    <div class="user-functions">
      <%=link_to "ログイン", new_user_session_path, class:"user-content" %> 
    </div>
    <div class="user-functions">
      <%=link_to "新規登録", new_user_registration_path, class:"user-content" %>
    </div>
  </div>
</div>