<div class="header">
  <div class="title">
    <%= link_to "DREAM", root_path, class:"title-content" %>
  </div>
  <% if user_signed_in? %>
    <div class ="nenucontents">
    <%=image_tag "sozai_cman_jp_20210826135329.png", id:"menuicon"%>
    <ul class="menuber hidden" id="menuber">
      <li id="list1" class="lists">マイページへ</li>
      <li id="list2" class="lists">ミッション変更</li>
      <li id="list3" class="lists">支援要項変更</li>
      <li id="list4" class="lists">ログアウト</li>
    </ul>
    </div>
    <%else%>
    <div class="user-function">
      <div class="user-functions">
        <%=link_to "ログイン", new_user_session_path, class:"user-content" %> 
      </div>
      <div class="user-functions">
        <%=link_to "新規登録", new_user_registration_path, class:"user-content" %>
      </div>
    <%end%>
  </div>
</div>