<div class="header">
  <div class="title">
    <a href="#" class="title-content">DREAM</a>
  </div>
  <div class="user-function">
    <div class="user-functions">
      <a href="#" class="user-content">ログイン</a>
    </div>
    <div class="user-functions">
      <a href="#" class="user-content">新規登録</a>
    </div>
  </div>
</div>